<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://isaaclins.com/spotiglass/appcast.xml</string>
	<key>SpotiglassCodeSigningTeamIdentifier</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>SUPublicEDKey</key>
	<string>HknEj0Snyq5WsrWwAxj89njv+qkdMASLlzKMFrlog8Y=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
</dict>
</plist>
